*{
	padding:0;
	margin:0;
	list-style: none;
	text-decoration: none;
}
body,html{
	width:100%;
	height:100%;
	overflow: hidden;
	background-image: url(../img/zn_loginimg.png);
	background-size:100%,100%;
}
.zn_passi{
	display: block;
	height:auto;
	padding:0 0.3rem;
	box-sizing: border-box;
	font-size:0.35rem;
	color:#fff;
	text-align: right;
}
.zn_success{
	position:absolute;
	left:0;
	top:0;
	z-index:888;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.7);
	display: none;
}
.zn_success > img{
	width:5.5rem;
	height:5.6rem;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-2.8rem;
	margin-left:-2.7rem;
}
.zn_success > .zn_cha{
	position: absolute;
	left:5.85rem;
	top:3.6rem;
	z-index:999;
	width:0.6rem;
	height:0.6rem;
	background-image: url(../img/zn_cha.png);
	background-size: 100%,100%;
	background-repeat: no-repeat;
}
.zn_success > .zn_jia{
	position:absolute;
	left:2.42rem;
	top:7.96rem;
	z-index:999;
	width:2.75rem;
	height:0.7rem;
	border:0;
	background:rgba(0,0,0,0);
}
.zn_loginbox{
	width:6.57rem;
	height:7rem;
	background:#fff;
	border-radius: 0.1rem;
	/*margin:2.3rem auto 0;*/
	position: fixed;
	left:0;
	top:0;
	bottom:0;
	right:0;
	margin:auto;
}
.zn_touxiang{
	position: absolute;
	left:50%;
	top:-1rem;
	margin-left:-1rem;
	width:2rem;
	height:2rem;
}
.zn_touxiang > img{
	display: block;
	width:100%;
	height:100%;
}
.zn_logintitle{
	display: block;
	width:2.78rem;
	height:0.42rem;
	position:absolute;
	top:1.42rem;
	left:50%;
	margin-left:-1.39rem;
}
form{
	width:100%;
	height:auto;
	position:absolute;
	left:0;
	top:2.2rem;
}
.zn_zhanghao{
	width:5.53rem;
	height:0.8rem;
	border:1px solid #eee;
	box-sizing: border-box;
	border-radius: 0.05rem;
	margin:0 auto 0.21rem;
	background:#f9f9f9;
	position: relative;
}
.zn_zhanghao > input{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	border:0;
	text-align: center;
}
.zn_zhanghao > img:first-of-type{
	position: absolute;
	left:0.15rem;
	top:0.12rem;
	width:0.55rem;
	height:0.55rem;
}
.zn_zhanghao > img:last-of-type{
	position: absolute;
	left:0.8rem;
	top:0.12rem;
	height:0.55rem;
}
.zn_pass{
	width:5.53rem;
	height:0.8rem;
	border:1px solid #eee;
	box-sizing: border-box;
	border-radius: 0.05rem;
	margin:0 auto 0.21rem;
	background:#f9f9f9;
	position: relative;
}
.zn_pass > input{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	border:0;
	text-align: center;
}
.zn_pass > img:first-of-type{
	position: absolute;
	left:0.15rem;
	top:0.12rem;
	width:0.55rem;
	height:0.55rem;
}
.zn_pass > img:last-of-type{
	position: absolute;
	left:0.8rem;
	top:0.12rem;
	height:0.55rem;
}
.zn_againpass{
	width:5.53rem;
	height:0.8rem;
	border:1px solid #eee;
	box-sizing: border-box;
	border-radius: 0.05rem;
	margin:0 auto 0.21rem;
	background:#f9f9f9;
	position: relative;
}
.zn_againpass > input{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	border:0;
	text-align: center;
}
.zn_againpass > img:first-of-type{
	position: absolute;
	left:0.15rem;
	top:0.12rem;
	width:0.55rem;
	height:0.55rem;
}
.zn_againpass > img:last-of-type{
	position: absolute;
	left:0.8rem;
	top:0.12rem;
	height:0.55rem;
}
.zn_yanzheng{
	width:5.53rem;
	height:0.8rem;
	box-sizing: border-box;
	border-radius: 0.05rem;
	margin:0 auto 0.21rem;
	background:#f9f9f9;
	position: relative;
}
.zn_yanzheng > input{
	position: absolute;
	left:0;
	top:0;
	width:3.9rem;
	height:100%;
	padding:0 0.1rem 0 0.9rem;
	box-sizing: border-box;
	border:1px solid #eee;
	text-align: center;
}
.zn_yanzheng > img:first-of-type{
	position: absolute;
	left:0.15rem;
	top:0.12rem;
	width:0.55rem;
	height:0.55rem;
}
.zn_yanzheng > img:nth-of-type(2){
	position: absolute;
	left:0.8rem;
	top:0.12rem;
	height:0.55rem;
}
.zn_yanzheng > .zn_yanzhengma{
	position: absolute;
	right:0;
	top:0;
	width:1.5rem;
	height:0.8rem;
	background: #FC6955;
	border-radius: 0.05rem;
}
.zn_zhen{
	width:4.43rem;
	height:0.89rem;
	background:#FC6955;
	border:0;
	border-radius: 0.89rem;
	background-image: url(../img/zn_button.png);
	background-size:100%,100%;
	position: absolute;
	left:50%;
	bottom:-1.2rem;
	margin-left:-2.21rem;
	font-size:18px;
	color:#fff;
	text-align: center;
	line-height:0.89rem;
}
.zn_bottom{
	width:100%;
	height:2.2rem;
	overflow: hidden;
	padding:0 0.24rem;
	box-sizing: border-box;
	position: absolute;
	left:0;
	top:10.5rem;
}
.zn_bottom > img{
	position: absolute;
	left:0.24rem;
	top:-1.5rem;
	width:7rem;
}
.zn_bottom > ul{
	position: absolute;
	left:0.24rem;
	top:0.5rem;
	width:7rem;
	height:auto;
	margin-top:0.5rem;
	display: flex;
	justify-content: space-around;
}
.zn_bottom > ul >li{
	width:auto;
	height:auto;
}
.zn_bottom > ul >li >a{
	display: block;
	width:auto;
	height:auto;
}
.zn_bottom > ul >li >a >img{
	display: block;
	width:0.88rem;
	height:0.88rem;
}
input::-webkit-input-placeholder{
	color:#bebdbd;
}
